@import url("https://fonts.googleapis.com/css2?family=Enriqueta:wght@400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
   background-color: #800020;
}

form {
  padding: 30px;
  background-color: #800020;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: small;
  font-weight: bold;
  min-height: 100vh;
}
.register {
  text-align: center;
  padding-bottom: 10px;
}
hr {
  border-radius: 10px;
  background-color: black;
}
.flex-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding-block: 15px;
}
.right-container,
.left-container {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.flex {
  display: flex;
  gap: 3px;
  flex-direction: column;
}
input {
  border-radius: 3px;
  border: none;
  padding: 7px;
  width: 100%;
  outline: none;
}
  button {
    display: block;
    margin: auto;
    padding: 8px;
    width: 190px;
    font-size: small;
    font-weight: bold;
    color: #800020;
    background-color: #ffffff;
    border: none;
    border-radius: 3px;
    transition: background-color 0.4s;
  }
  button:hover {
    background-color: #000000;
    color: #800020;
  }

@media screen and (min-width: 768px) {
  .register {
    padding-block: 10px;
  }

  form {
    margin: 20px 30px;
    padding: 40px 60px;
  }

  .flex-container {
    gap: 50px;
    flex-direction: row;
    padding: 40px 60px;
  }

  .flex {
    gap: 10px;
  }
  input {
    width: 250px;
  }

}

